<div class="dc-help">
  <h1><%= t('drgcms.dc_help.help') %>: <%= dc_help_title %></h1>

  <div class="help-fields"><%= dc_help_fields %></div>
  <div class="help-body"><%= dc_help_body %></div>
</div>
