<div id="site-frame">
  <div id="site-top">
    <table width="100%">
      <td class="portal-logo"><%= link_to image_tag("/assets/logo.png", :border => 0), '/' %></td>
      <td class="portal-title">Intranet</td>
      <td class="portal-login"><%= dc_render(:intranet_common, method: 'login') %> </td>
    </table>
  </div>

 <%= dc_render(:dc_simple_menu) %>

 <div id="page">
   <div id="app-menu"><%= dc_render(@options['renderer']) %></div>
 </div>
</div>
