<ul class="app-menu">
  <li class="dc-link dc-animate"> 
    <%= dc_link_to 'Report', 'table', {controller: :cmsedit, table: :dc_dummy, 
        formname: 'notes_report', action: 'new'}, target: 'iframe_edit' %> </li>
</ul>
<hr class='hr-green'>

<%= iframe_za_vpis_podatkov('note') %>
