<div id="mailing"><div class="reklame">DO YOU HAVE AN IDEA?</div>
<a href="mailto:info.address@mysite.com?subject=Suggestion%20from%20www.mysite.com">
<%= fa_icon('envelope 2x') %>Click and send as an email.</a>
</div>
