<%= dc_table_title dc_new_title %>

<%= form_tag(@parms, method: :post, id: params['form_name'] || params['table'],
             class: 'cmsform', multipart: @form['form']['multipart']) do %>
  <%= render partial: 'form' %>
<% end %>

<div id="popup" style="display: none;"></div>
