
<h2>Superadmin account created</h2>
Please write down username:<%= params[:username] %>
<br>password:<%= params[:password1]  %>
<br>
<!-- <%= link_to('Start editing', controller: 'poll', poll_id: 'login', return_to: '/cmsedit/show') %> -->

<%= link_to('Start editing', controller: 'cmsedit', action: 'show') %>

