<!DOCTYPE html>
<html>
<head>
  <title>Models dump</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <%= stylesheet_link_tag "cms", media: 'all' %>
  <%= javascript_include_tag "cms" %>
</head>
<body>

<%= yield %>

</body>
</html>
